# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
.venv/

# Environment
.env

# Database
db.sqlite3

# Media uploads
media/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

#AI 
conductor/

#Firebase
my-recipes-8a3f9-firebase-adminsdk-fbsvc-5f8a9231f3.json
